[submodule "iTerm2-Color-Schemes"]
	path = Sources/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes

[submodule "solarized"]
	path = Sources/solarized
	url = https://github.com/altercation/solarized

[submodule "flat-terminal"]
	path = Sources/flat-terminal
	url = 	https://github.com/ahmetsulek/flat-terminal

[submodule "Tomorrow-Theme"]
	path = Sources/Tomorrow-Theme
	url = 	https://github.com/ChrisKempson/Tomorrow-Theme
